* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.bgi {
  background-image: url(assets/meeting.jpg);
  background-size: 100% 110%;
  width: 100%;
  height: 100vh;
  opacity: 80%;
}
/* nav start */
.nav {
  width: 100%;
  height: 15vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .leftnav {
  width: 40%;
  text-align: center;
}
.nav .leftnav h4 {
  font-size: 2rem;
}
.rightnav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightnav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.rightnav a:first-child {
  color: orange;
}
.rightnav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid orange;
  transition: all 0.4s linear;
}
.rightnav a:hover::before {
  width: 100%;
}
/* nav end */
/* main start */
.main {
  width: 100%;
  height: 85vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.main h3 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 130px;
  margin-bottom: 20px;
}
.main h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0;
}
.main h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}
/* button */
.btn1,
.btn2 {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
  padding: 14px 25px;
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  border: 2px solid #fff;
}
.btn1:hover,
.btn2:hover {
  color: #000;
  background-color: #fff;
}
/* main end */
